@font-face {
 font-family: codeBold;
 src: url("./assets/CODE-bold.otf") format("opentype"),
  url("./assets/CODE-bold.ttf") format("truetype"),
  url("./assets/CODE-bold.woff2") format("woff2");
}

@font-face {
 font-family: codeLight;
 src: url("./assets/CODE-light.otf") format("opentype"),
  url("./assets/CODE-light.ttf") format("truetype"),
  url("./assets/CODE-light.woff2") format("woff2");
}

@font-face {
 font-family: oxygen;
 src: url("./assets/Oxygen-regular.ttf") format("truetype");
}

@font-face {
 font-family: sourceSansPro;
 src: url("./assets/SourceSansPro-regular.otf") format("opentype"),
  url("./assets/SourceSansPro-regular.ttf") format("truetype"),
  url("./assets/SourceSansPro-regular.woff2") format("woff2");
}

body {
 background-color: #262626;
 color: #f7f7f7;
}

.main-title {
 text-align: center;
 font-family: codeBold;
 font-size: 3rem;
 margin-top: 1rem;
 margin-bottom: 0rem;
}

.archive-list {
	margin: auto;
	border: 2px solid white;
	font-family: oxygen;
	border-collapse: collapse;
	max-width: 1200px;
}

.archive-link {
	text-decoration: none;
}

.archive-entry {
	display: flex;
        flex-wrap: wrap;
	width: 100%;
        color: white;
        container-type: inline-size;
}

@container (max-width: 759px) {
	.archive-entry-details {
		padding-bottom: 5px;
		border-bottom: 5px solid black;
	}
}

.archive-link:not(:first-child) > .archive-entry {
	border-top: 1px solid black;
}

.lightResult:hover, .darkResult:hover {
	background-color: #1F1F1F;
}

.archive-entry-details {
        display: inline-block;
        flex: 7;
        min-width: 400px;
}

.archive-date {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.archive-game-type-label {
        font-size: 1.25em;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
}

.archive-game-list {
        text-align: center;
        margin-top: 0;
        list-style-position: inside;
}

.archive-game-name {
        margin: 0;
        margin-left: -40px;
}

.archive-game-name-inner {
	margin-left: -5px;
}

.archive-entry > p {
	text-align: center;
}

.archive-list td {
	padding: 5px 10px;
}

.archive-list th {
	padding: 5px;
}

.button-orange {
	font-family: oxygen;
	background-color: #F96854;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	text-decoration: none;
	color: #fff;
	text-align: center;
	letter-spacing: 0.5px;
	font-size: 14px;
	outline: 0;
	border: none;
	border-radius: 2px;
	padding: 13px 16px;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}

.button-blue {
	font-family: oxygen;
	background-color: #29b6f6;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	text-decoration: none;
	color: #fff;
	text-align: center;
	letter-spacing: 0.5px;
	font-size: 14px;
	outline: 0;
	border: none;
	border-radius: 2px;
	padding: 13px 16px;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}

.button-blue:hover, .button-orange:hover {
	background-image: linear-gradient(rgb(0 0 0/25%) 0 0);
}

.right-button {
	float: right;
}

.browse-filters {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        border: 1px dashed white;
        padding: 10px;
        padding-top: 0px;
}

.browse-filter-row {
	margin-top: 10px;
}

.browse-filter-row a:not(:first-child) {
	margin-left: 5px;
}

.top-nav {
	text-align: center;
        margin-top: 16px;
	margin-bottom: 25px;
}

.top-nav a:not(:first-child) {
	margin-left: 5px;
}

.bottom-nav {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.bottom-nav a:not(:first-child) {
	margin-left: 5px;
}

.episode-link {
	color: powderblue;
	text-decoration: none;
}

.episode-link:hover {
	color: powderblue;
	text-decoration: underline;
}

.footer {
	text-align: center;
	font-family: oxygen;
	font-size: 0.8em;
}

.footer a {
	color: powderblue;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.experienceContainer {
	display: flex;
}

#videoContainer {
	flex: 3;
	float: left;
	margin-right: 10px;
}

#chatContainer {
	flex: 1;
	float: left;
}

.edit-field {
	width: 95%;
	min-height: 20em;
}

.video-js {
	margin-bottom: 10px;
}

.archive-thumbnail-container {
	flex: 3;
        background-color: #000000;
        display: flex;
        align-items: center;
}

.archive-thumbnail {
        display: block;
	width: 100%;
	min-width: 360px;
}

.full-title {
	font-family: oxygen;
	font-weight: normal;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.4em;
}

.full-date {
	font-family: oxygen;
	text-align: center;
	margin-top: 0;
}

.lightResult {
	background-color: #3c3c3c;
}

.darkResult {
	background-color: #2a2a2a;
}

.experience-info {
	font-family: oxygen;
	font-weight: normal;
	width: 50%;
	margin: auto;
	text-align: left;
}

.experience-info > p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.index-nav {
	text-align: center;
}

.login-title {
	font-family: oxygen;
	font-weight: normal;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.4em;
}

.login-form {
	margin: auto;
	width: fit-content;
	font-family: oxygen;
	text-align: center;
}

.login-input {
	text-align: right;
}

#login-button {
	margin-top: 10px;
}

/* Chat log display: */

.display-cues {
	word-break: break-all;
	height: 500px;
	overflow: scroll;
	font-family: sourceSansPro;
	overflow-x: visible;
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	background-color: #1e1e1e;
}

.cue-active {
	background-color: #333;
}

.cue-hidden {
	visibility: hidden;
}

.vjs-text-track-display {
	visibility: hidden;
}
        
#vjs-logobrand-image {
	visibility: hidden;
}

#admin-instructions {
	font-family: oxygen;
}

.introduction, .stats {
        max-width: 1000px;
        margin: auto;
        margin-top: 20px;
        font-family: oxygen;
        background: linear-gradient(135deg, rgba(90, 157, 212, 0.4) 0%, rgba(90, 157, 212, 0.18) 100%);
        backdrop-filter: blur(25px) saturate(125%);
        box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
        padding: .5rem;
        border-radius: .2rem;
}

.introduction h2, .stats h2 {
        text-align: center;
        margin: 0px;
}

.introduction p {
        margin: 0px;
        margin-top: 10px;
}

.introduction > p > a {
	color: lightgrey;
}

.introduction > p > a:hover {
	color: #a7a7a7;
}
